// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  margin-top: 20px;
}

.user_information {
  margin: 30px;

  width: 550px;
  margin: 0 auto;
  padding: 20px 40px 10px 40px;
  // text-align: left;

}

@media (max-width: 767px) {
  .user_information {
      width: auto;
  }
  p {
      max-width: 100%;
      height: auto;
  }
}